.search-flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
    align-items: center;
    color: var(--grey);
    background-color: var(--darkgrey);
    margin-right: auto;
    margin-left: auto;
    border-radius: 3rem;
    width: 75%;
}

.search-flex input {
    width: 100%;
    background-color: var(--darkgrey);
    font-family: "Inter";
    font-size: 1.3rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    color: var(--grey);
}