.list-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;

    border-radius: 1.5rem;

}

.list-row:hover {
    background-color: var(--darkgrey);
}

.list-row td {
    text-align: left;
    width: 18%;
}

.chip-flex {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.td-image {
    width: 3rem !important;
    margin-left: 0.75rem;

}

.td-data-right {
    text-align: right;
}

.td-center-align {
    text-align: center;
}

.td-market-mobile {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .td-icon {
        display: none;

    }

    .td-total-volume {
        display: none;
    }

    .list-row {
        font-size: 75%;
    }

    .td-market-desktop {
        display: none;
    }

    .td-market-mobile {
        display: inline;
    }

}