.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: var(--black);
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo {
    font-size: 1.8rem;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.link {
    font-weight: 500;
    color: var(--grey);
    font-size: 1rem;
}

.link:hover {
    color: var(--white);
    transition: all 0.2s;
}

.mobile-drawer {
    display: none;
}

@media only screen and (max-width: 800px) {
    .logo {
        font-size: 1.2rem;
    }

    .link {
        font-size: 0.8rem;
    }

    .navbar {
        padding: 1.5rem;
    }

    .links {
        display: none;
    }

    .mobile-drawer {
        display: block;
    }

    .drawer-div {
        width: 40vw;
        background-color: var(--black);
        padding: 1.5rem;
        height: 100vh;
        color: var(--grey);
    }
}