.flex-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}

.track-crypto-heading,
.real-time-heading {
    font-size: 6.5rem;
    margin: 0;
}

.track-crypto-heading {
    color: var(--white);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;

}

.track-crypto-heading:hover {
    color: var(--black);
    transition: all 0.3s smooth;
}

.real-time-heading {
    color: var(--blue)
}

.info-text {
    color: var(--grey);
    font-size: 1.3rem;
    margin: 2rem 0;
}

.btn-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 2rem;
}

.phone-container {
    width: 50%;
    text-align: center;

}

.iphone {
    width: 50%;
    min-width: 300px;
}

@media only screen and (max-width: 1200px) {
    .track-crypto-heading {
        font-size: 5.5rem;
    }

    .real-time-heading {
        font-size: 5.5rem;
    }
}


@media only screen and (max-width: 1000px) {
    .track-crypto-heading {
        font-size: 4.5rem;
    }

    .real-time-heading {
        font-size: 4.5rem;
    }

    .iphone {
        width: 30%;
    }
}

@media only screen and (max-width: 900px) {
    .flex-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .phone-container {
        text-align: center;
        margin-top: 2rem;
    }
}